<!-- Footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<a href="#" class="logo">
					<img src="images/logo-footer.png" alt="logo" class="img-responsive">
				</a>
				<p class="copyright">Copyright © Toto-family.com.ua 2017 Все права защищены</p>
			</div>
			<div class="col-sm-7">
				<ul class="navigation">
					<li><a href="#">Главная</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Продукция</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<div class="contact-block">
					<a href="#" class="btn btn-primary">Напишите нам</a>
					<div class="tel-holder">
						<p>+38 (050) 522 58 64</p>
						<p>+38 (050) 522 58 63</p>
						<p>+38 (050) 522 58 61</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end Footer -->